<div id="<%= dom_id comment %>">
  
  <p><%= comment.body %></p>

<p>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Destroy Comment", [:admin, comment.card, comment], data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%end%>
</p>