<% content_for :title, "Editing card" %>

<h1>Editing card</h1>

<%= render "form", card: @card %>

<br>

<div>
  <%= link_to "Show this card", [:admin, @card] %> |
  <%= link_to "Back to cards", admin_cards_path %>
</div>
