* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Geologica', Arial, Helvetica, sans-serif;
    /* margin-top: 16px; */
    padding: 16px;
  }
  
  .menuBar {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-family: 'Bounded', Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-top: 24px;
  }

